@keyframes showmenu {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.show {
  animation: showmenu 300ms;
}

@keyframes anim-active {
  from {
    transform: translateX(0) translateY(0) scale(1);
  }
  to {
    transform: translateX(-50vw) translateY(50vh) scale(1.5);
  }
}

@keyframes anim-inactive {
  from {
    transform: translateX(-50vw) translateY(50vh) scale(1.5);
  }
  to {
    transform: translateX(0) translateY(0) scale(1.1);
  }
}
